h1{
    color:rgb(82, 191, 235) !important;
}
.noi-quy{
    text-align-last: center ;
    color:red;
    font-size: 4rem;
}
.bang-noi-quy{
    background: white;
}
.border{
    border: 1px solid rgb(101, 207, 240) ;
}
.border-2{
    border-width: 10px ;
}
.border-3{
    border-width: 10px ;
}
.border-blue{
    border-color: black;
}
.p-2{
    padding: 5px ;

}
.p-3{
    padding: 10px ;

}
.p-5{
    padding: 20px ;

}